body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

#lista1 {
  display: none;
}

#lista {
  justify-content: center;
  align-items: center;
  align-self: center;
}

.lista ul {
  list-style: none;
  padding: 0;
}

.lista button {
  display: flex;
  justify-self: right;
  background-color: red;
}

.lista button:hover {
  background-color: rgb(200, 0, 0);
}

.lista li {
  background: #eee;
  margin: 5px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#remover {
  display: none;
  justify-content: space-evenly;
}

#remover button {
  background-color: red;
}


#remover button:hover {
  background-color: rgb(200, 0, 0);
}